<!-- Template for App View -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [
            ['$$$', '$$$'],
            ['\\(', '\\)']
        ]
    }
});
</script>

<div class="container">
# EE2024 Assignment 2

| Name | Matric Number |
| -- | -- |
| Joel Haowen **Tong** | A0108165J |
| Mohit **Shridhar** | A0105912N |

**Lab Group: Wednesday **


## Table of Contents

| Section |
|--|
| Cover |
| Table of Contents |
| Outline |
| State Calibrate |
| State Standby |
| State Active |
| Frequency algorithm |
| Experiments & Limitations |
| FFS Configuration |
| Interrupts |
| State Manager |
| Physical States |
| Wireless States |
| Extensions |
| Ending |

## Overview

The FFS is a frequency-checking onboard system for determining the external temperature, radiation and wing flutter frequency of an aircraft.  This system is necessary to prevent aircraft disintegration from wing resonance, otherwise known as wing flutter.

We have designed our own implementation of the FFS, that is responsive and designed with Object-Orientated Programming (OOP) principles in mind.  This is a solid solution to the problem at hand, as the code can be incrementally developed and recycled in future.  Besides environmental sensing, our implementation comes with an integrated task manager that emulates the simultaneous running of concurrent tasks at once.  This is made possible and encapsulated with a state manager, that has been generated and tested on both GCC-based and ARM-based toolchains. 

Wireless protocol integration testing is automated and performed with `NodeJS` Coffeescript.

A generic state diagram is shown below:

![](images/stateDiagrams.png)

### Calibration

**Peripherals Used:** Acclerometer, OLED Display

**Enter Handler:** 

	Reset zOff to zero
    Initialize static elements on the OLED display for Active state
    Reset 7-Segment display to '5'
    Turn off FFS warning
    Disable EINT3_IRQn (Light Sensor Interrupt)

**Exit Handler:**

	Save zOff value
    Initialize isHot & isRisky conditions to false

##### Accelerometer Readings

A standard I2C protocol was used to read off the accelerometer values every time `update_sensorData()` was called. This was achieved by using the `acc_read` library function. The sensor was polled only during Calibration & Active state to reduce wasted clock cycles during the round-robin loop. After polling, the new value was offset using `zOff` and then stored into `zAccel`. The offset has no effect in Calibration mode as `zOff` is yet to be configured. However, the offset will be used later in Active mode to zero the z-axis reading. Before exiting the Calibration state, i.e. when `btn_calibrate` is asserted, the latest `zAccel` value will be used to calculate and store `zOff`: $$$ z\_{off} = -z\_{accel} $$$. The x & y axis readings are ignored completely during data storage and processing, but are still polled (burns clock cycles) due to `Lib_EaBaseBoard` legacy issues.

**Settings:**
	
    acc_setMode(ACC_MODE_MEASURE);
	acc_setRange(ACC_RANGE_2G);
    
Since the accelerometer readings will be used only to calculate the oscillating frequency, the actual range & accuracy of the data won't be of much significance as long as the values surpass the noise cancellation threshold (see Frequency Algorithm section). Hence `ACC_RANGE_2G` meets the requirments of the system.

##### OLED Display

During the development process we encountered a problem regarding the refresh rate of the OLED Display. Clearing and reinitiating the entire screen just to update a small portion of the display eg: the accelerometer readings, is a painstakingly slow process and causes the screen to flicker vigourously. And so, the display elements were split into two categories: static elements & active elements. For any state, the OLED Display is refreshed and loaded with static elements (eg: state name) just before entering that particular mode. And this is done only once per state. On the other hand, active elements are refreshed every round-robin cycle.

The readings were displayed on the OLED in $$$m/s^{2}$$$. The snippet below shows how the arbitary z-axis values were converted into standard units:

```c
void calibration_displayAccel(uint8_t zAcc) {
	float realAcc = (9.81 / GZERO_OFFSET) * zAcc;

	char buffer[3];
	sprintf(buffer, "%.1f", realAcc);
	oled_putString(23, 45, (uint8_t *) buffer, OLED_COLOR_WHITE, OLED_COLOR_BLACK);
}
```

`GZERO_OFFSET` is the raw accelerometer reading (z-axis) when the sensor is placed in a stationary, upright position. In our case $$$g_{zero}\cong 64$$$. And intermediate buffer was used along with `sprintf` to convert the decimal value into a string since `oled_putString` doesn't support floating values.

##### GPIO Read Button (SW4)

A standard function called `ButtonList_attachButton` was created in `ButtonList.c` to intialize a GPIO pin as an input button:
```c
void ButtonList_attachButton(uint32_t port, uint32_t pin, void (*handler)()) {
	....
    
	PINSEL_CFG_Type PinCfg;
	PinCfg.Funcnum = 0;
	PinCfg.OpenDrain = 0;
	PinCfg.Pinmode = 0;
	PinCfg.Portnum = port;
	PinCfg.Pinnum = pin;
	PINSEL_ConfigPin(&PinCfg);

	GPIO_SetDir(port, 1 << pin, 0);
    
    ....
}
```

Similarly, another function called `ButtonList_getButtonState` was setup to poll a particular GPIO pin:

```c
_Bool ButtonList_getButtonState(uint32_t port, uint32_t pin) {
	return ! ((GPIO_ReadValue(port) >> pin) & 0x01);
}
```
And so, `btn_calibrate` was determined by reading the state of GPIO P1.31 (SW4) every cycle.

##### UML Diagram

A diagram of state Calibrate is given below:

![sate calibrate diagram](images/pubimage_001.png)

### Standby

**Peripherals Used:** Temperature & Light Sensor, OLED Display, 7-Seg Display

**Enter Handler:** 

	Reset standbyCounter to 5
    Initialize static elements on OLED Display for Standby state
    Turn off FFS warning
    Enable EINT3_IRQn (Light Sensor Interrupt)

#### Countdown

For the 5-second countdown, the `led7seg_setChar` library function was used to control the 7-segment display. Akin to the OLED refresh rate problem, it's exhaustive to set the display number repeatedly for each cycle. Furthermore, the display number doesn't change for atleast 1000ms, so most of the time precious clock cycles will be wasted writing the same value to the 7-seg. The obvious solution to this is to implement a delay function, which will wait for 1000ms before updating the 7-seg, and then continue to execute the rest of the cycle. But this is detrimental to the flow of the round-robin architecture. The delay function will hang the program for 1000ms; it's very likely that crucial data from the temperature & light sensor will be missed during this interval. So the only feasible solution is to declare a static variable `prevMs` to record the previous interval at which the 7-seg display was updated. And then we use this time reference to check if 1000ms has passed without breaking the flow of the loop:
```c
void tickHandler1() {
	....
	static uint32_t prevMs = 0;

	if ((SysTick_getMsElapsed() - prevMs) > 1000) {
    	prevMs = SysTick_getMsElapsed();
    	standby_countDown(&FFSData);
    }
    ....
}
```
The actual updating takes place in `standby_countDown` found in `functions.c`:
```c
void standby_countDown(volatile Vector_Data_t* data) {
	if (data->standbyCounter > 0) {
		data->standbyCounter--;
		led7seg_setChar((char) (((int) '0') + data->standbyCounter), FALSE);
	}
}
```
Our system doesn't initiate the handshake protocol during the `STANDBY` state as that would trigger a reinitiation everytime the state changed from `ACTIVE` to `STANDBY`.

#### Temperature and Light Sensor

The `STANDBY` mode uses a very basic implementation of the temperature sensor. The main function intializes the sensor using `temp_init()`; `update_sensorData()` then polls and stores the latest reading using `temp_read()` (in the actual implementation, the reading takes place inside a sub-fuction called `temperature_update`). Since the sensor is analog, the library function simply performs a `GPIO_ReadValue` operation at timed intervals to obtain the latest temperature.

On the contrary, the light sensor has a much more comprehensive implementation. See the 'Light Sensor Interrupt' section for more details on how the sensor was used to trigger an external interrupt. The following config function was called in `main()` to initiate the sensor:

```c
#define LIGHT_UPPER_BOUND 	800
#define LIGHT_LOWER_BOUND 	0

...

void SensorLight_config() {
	light_enable();
	light_setRange(LIGHT_RANGE_1000);

	// configure PINSEL
	PINSEL_CFG_Type PinCfg;
	PinCfg.Funcnum = 0;
	PinCfg.OpenDrain = 0;
	PinCfg.Pinmode = 0;
	PinCfg.Portnum = 2;
	PinCfg.Pinnum = 5;
	PINSEL_ConfigPin(&PinCfg);

	// config GPIO 2.5 for temp pin
	GPIO_SetDir(2, 1 << 5, 0);

	SensorLight_setThreshold(LIGHT_LOWER_BOUND, LIGHT_UPPER_BOUND);
	SensorLight_setInterrupts();
}

void SensorLight_setThreshold(uint32_t min, uint32_t max) {
	light_setLoThreshold(min);
	light_setHiThreshold(max);
}
```
`LIGHT_RANGE_1000` is an obvious range choice since anything above 800 will be curbed by the `setThreshold` bound. The actual readings are updated and stored every 200ms:

```c
void light_update(volatile Vector_Data_t * data) {
	static uint32_t currMs = 0;
	if (currMs - SysTick_getMsElapsed() > 200) {
		FFSData.light = light_read();
		currMs = SysTick_getMsElapsed();
	}
}
```


#### Active State Transistion

If and only if `isRisky` & `isHot` are not satisfied and `standbyCounter` has reached zero, the state manager will change the state to `ACTIVE`.

```c
if (FFSData.standbyCounter == 0 && !FFSData.isRisky && !FFSData.isHot) {
    StateManager_goto(sm, 2);
    return;
}
```
The return statement indicates to the state manager that there is no need to complete the rest of the cycle since it's switching states.

##### UML Diagram

A diagram of state Standby is given below:

![sate calibrate diagram](images/pubimage_003.png)

### Active

**Peripherals Used:** Acclerometer, Temperature & Light Sensor, OLED Display, LED Array, RGB LED, Buzzer, Wireless UART Interface

**Enter Handler:**

	Initialize static elements on OLED Display for Active state
    Initiate wireless UART connection

#### Safe Conditions

From an overview, the active state combines the elements of `CALIBRATION` with `STANDBY`. The temperature & light readings are actively displayed on the OLED screen, while the accelerometer readings are processed in the background. If either `isHot` or `isRisky` conditions are satisfied during this state, the program will revert back to `STANDBY`. This is probably the slowest state of the three in terms of the time taken to complete a round-robin cycle. This is because each cycle in `ACTIVE` has to read more sensors and process more data when compared to `STANDBY` or `CALIBRATION`. This means that there will be a small, albeit noticeable delay between the time when the readings become unsafe and the time at which the system actually switches states. In the context of this project, the problem doesn't have much significance. But if this was implemented as a real-time system on an aircraft, the delay could be catastrophic.

#### Warning Indicators

Our system exhibits two different means of indicating that the flutter frequency has reached an unsafe level. One of them is the UART terminal and the other involves the use of various devices on the baseboard: buzzer, LED array and RGB LED. The wireless UART communication is explained in detail in the 'Wireless Protocol Handling' section. As for the baseboard devices, two simple functions `warning_On()` & `warning_Off()` were created to control the three indicators.

**RGB LED**

The red LED was configured as a simple GPIO output pin at Port 2 with a bit value of `0x00000002`:
```c
void rgbRed_init() {
	GPIO_SetDir(2, 1 << 0, 1);
}

void rgbRed_on() {
	GPIO_SetValue(2, 1 << 0);
}

void rgbRed_off() {
	GPIO_ClearValue(2, 1 << 0);
}
```

**LED Array**

The LED array was controlled using the `pca9532` library. The mask `0xFFFF` was used to turn all the LEDs on simultaneously. `BLINK_INTERVAL` 226 roughly correlates to a frequency of 1Hz.
```c
#define  BLINK_INTERVAL	226

....

void leds_onWarning() {
	pca9532_setBlink0Period(BLINK_INTERVAL);
	pca9532_setBlink0Leds(0xFFFF);
}

void leds_offWarning() {
	pca9532_setLeds(0, 0xFFFF);
}
```

**Buzzer**
See 'PWM Simulation with External Interrupt' section

##### UML Diagram

A diagram of state Active is given below:

![sate calibrate diagram](images/pubimage_004.png)

## The FFS frequency algorithm

At the core of the FFS lies the frequency algorithm.  Our implementation of the detection system works by extracting data from the on-board accelerometer, and putting the data through an algorithm to determine the rate of vibrations per second.

### Possible algorithms for eliminating data noise

Various algorithms were considered for determining frequency. These algorithms can be categorized into those that require an IMU, versus those that requires just an accelerometer.  Our team settled for an average-sampling algortihm, due to its ease in implementation, relatively acceptable accuracy and computation speed.  The various algorithms considered are as listed below:


#### Kalman Filter

The Kalman filter appears to build an optimal model from noisy data.  It relies on recursion and the input of data, and hence has memory of previous states.  These states are then used to create a "projected model" (determining data points projected in the future). (Kleeman, 1996)

Kalman filtering is a popular method to determine the orientation of objects, using the IMU, due to its speed (linear filter), and its ability to eliminate Gaussian noise.  However, it was not chosen due to the complexity of implementing matrix operations in `C`, the perceived responsiveness of the model due to its inherent memory (frequencies might rapidly change and might not be reflected in time by the FFS system).


#### Origin / Savitzky-Golay Filtering

This filtering method involves applying polynomial regression analysis to the data, and appears to preserve peaks within the data (necessary for calculation of vibration frequency).  However, it was not implemented due to its non-linearity. (Source: http://www.originlab.com/index.aspx?go=Products/Origin/DataAnalysis/SignalProcessing/SmoothingAndFiltering&pid=104)


#### Fourier analysis and suppression using filtering

Spectral analysis of data could be performed, and frequencies stemming from noise removed using filters.  However, finding the noisy frequency may involve some machine learning (or an adaptive algorithm), and the imeplementation of a Fast Fourier Transform algorithm in C (both of which may be time- and implementation- costly).


#### Median filtering

Median filtering involves taking the middle value across $$$n$$$ sorted sampled values, at every interval.  This implementation appears to be fast and easy to implement, as it is a linear filter.  It also preserves features across data, such as peaks.  However, while this method was recommended, it was not chosen as our initial implementation appeared to be not as responsive, possibly due to memory in the system.


#### Adjacent average filtering

This method is similar to median filtering.  It involves taking the average across $$$n$$$ sampled values at every interval.  This method was chosen, in addition to some conditional implementation to further eliminate noise, as it was easy and fast to implement, responsive (little memory in the system), and did not require a sorting algorithm.


### Our choice of algorithm

After considering all possible options, we settled for the Adjacent Average Filtering (AAF) algorithm due to its ease in implementation, responsiveness, and reliability.


#### How does it work?

To understand why this algorithm works, we first have to define the meaning and detection of frequency.  Frequency entails finding the occurences of a particular event over a given period of time, taken to be 1 second.  In the FFS, features of this data involves calculating the number of minima and maxima occuring per unit time, in the plot of Displacement $$$x/mm$$$ VS Time $$$t/s$$$.  It follows that the nature of this data would emulate Simple Harmonic Motion (SHM), and would hence obey the equation:

$$
a \propto -x , \quad a = \ddot x
$$

Now, we define the reading from the accelerometer as $$$k \, \exists\,k\,\in\,\mathbb{Z} $$$.  Therefore

$$
(a \propto -x) \wedge (k \propto a) \Rightarrow k \propto -x.
$$

This means that finding the number of peaks and troughs (and hence frequency) is approximately equal to finding the number of changes of sign of $$$k$$$.  Let $$$f$$$ be the frequency of vibrations.  Then:

$$
f = \text{Number of sign changes of $k$, per second.}
$$


#### Algorithm for determining sign changes

Instead of implementing conditionals to detect for sign change, we speed up the algorithm by performing bitwise operations.  This increases the responsiveness of the system.

Let $$$a, b$$$ be binary integers, represented in two's complement and given by statement $$$C$$$:  

$$
\textbf{C}: a, b \forall (a > 0 , b < 0) \vee (a < 0, b > 0)
$$

Then it is given that:

$$
a \oplus b < 0 \quad
$$

**Proof**

Let the MSB of $$$a,b$$$ be given by $$$a_m$$$ and $$$b_m$$$ respectively.  Then let D be an ordered pair such that $$$D = (a_m, b_m)$$$.  Let E(D) be the result of the operation $$$a_m \oplus b_m$$$.

Suppose condition C holds.  Then it must follow that:

$$
D = (0,1) \wedge D = (1,0)
$$

Therefore $$$E(D) = 1 \Rightarrow a \oplus b < 1$$$.  Therefore the result holds.


Suppose condition C does not hold.  Then it must follow that:

$$
D = (1,1) \wedge D = (0,0)
$$

Therefore $$$E(D) = 0 \Rightarrow a \oplus b \geq 0$$$.  Therefore the result does not hold, as expected.

Q.E.D.


#### Implementation of algorithm in code

**Retrieving data**

This is implemented by doing an averaging of input values.  As the I2C implementation may block code execution during transmission, we request for accelerometer readings at intervals, using a timer non-blocking loop.  This is done by `readStoreAccel()` defined in `functions.c`.  The function is made as fast as possible by utilizing the customized `__INLINE` directive:

```c
__INLINE void readStoreAccel(volatile Vector_Data_t* data) {
	static uint32_t refMs = 0;
	uint32_t nowMs = SysTick_getMsElapsed();

	if(nowMs - refMs > 0) {
		int8_t xDummy = 0, yDummy = 0;
		acc_read(&xDummy, &yDummy, (int8_t *) &(data->zAccel));
		data->zAccel = data->zAccel + data->zoff;
		refMs = SysTick_getMsElapsed();
	}
}
```

**Noise filtering**

Noise filtering is done by averaging `VIBRATION_BUFFER_SIZE` samples.  This is done by the function `vibrations_getSmoothedAverage()` in `functions.c`:

```c
__INLINE int8_t vibrations_getSmoothedAverage(int8_t rawInput) {
	static int8_t buffer[VIBRATION_BUFFER_SIZE];
	static int8_t ref;

	if (ref != VIBRATION_BUFFER_SIZE) {
		buffer[ref] = rawInput;
		ref++;
		return 0;
	}

	// else return value
	ref = 0;
	uint8_t i, acc = 0;
	for (i = 0; i < VIBRATION_BUFFER_SIZE; i++)
		acc += buffer[i];
	return acc;
}
```

The buffer is made `static` within the function to preserve its state during re-entrancy (and hence promoting data encapsulation).


**Determining frequency**

Determining the frequency is handled by the function `vibrations_updateFrequency()`, with the `XOR` method imeplemented.  Note that this algorithm is very responsive as it has little memory of its previous state.  It also eliminates values that are too close to the origin, to be determined:

```c
void vibrations_updateFrequency(volatile Vector_Data_t * data) {
	static uint32_t refMs;
	uint32_t nowMs;
	static int8_t oldVal, newVal;
	static int32_t accumulator;

	if (refMs == 0)
		refMs = SysTick_getMsElapsed();

	nowMs = SysTick_getMsElapsed();

	if ((nowMs - refMs) > 1000) {
		// EXIT and reset variables if reached
		data->vibrationFreq = accumulator;
		refMs = SysTick_getMsElapsed();
		accumulator = 0;
	}

	/** do accelerometer calculations here **/

	int8_t curr = vibrations_getSmoothedAverage(data->zAccel);
	if (curr == 0)
		return; 			// exit if no data

	oldVal = newVal;
	newVal = curr;

	// we want opposing signs => a peak => freq++.
	// since number is in 2's Complement, XOR of both will set MSB to 1
	// i.e. number < 0
	if (((newVal ^ oldVal) < 0) && (abs(newVal) > VIBRATION_MAX_DIFF)) {
		accumulator++;
	}
}
```


























### Experiments & Limitations

Various experiments were carried out to test the perfomance of the frequency analysis algorithm and the reliability of the system itself. However, it's important to note that the following observations are purely qualitative; we lack the proper equipment to simulate known frequencies with reasonable precision.

####Warning Response Delay

While using the system in `ACTIVE` mode, there is a noticeable delay between the time when the user starts shaking the baseboard and the time at which the unsafe warnings go off. Most often, there will be a delay of atleast 1000ms before the system triggers a response. This is because the accumulated oscillation counts are stored in `vibrationFreq` once every `FREQ_UPDATE_PERIOD`, i.e. 1000ms.

```c
void vibrations_updateFrequency(volatile Vector_Data_t * data) {
	....
    if ((nowMs - refMs) > FREQ_UPDATE_PERIOD) {
        // EXIT and reset variables if reached
		data->vibrationFreq = round(accumulator * (1000.0 / FREQ_UPDATE_PERIOD));
		refMs = SysTick_getMsElapsed();
		accumulator = 0;
    }
    ....
}
```
This period can be obviously reduced to improve the response time, but it has been observed that the system becomes more suseptible to noise by doing so. The accelerometer is not an analog sensor, so the readings change at fixed intervals. And so, reducing `FREQ_UPDATE_PERIOD` results in a less reliable frequency count since fewer data points can be used to verify the apparent state. Increasing `FREQ_UPDATE_PERIOD` would make the frequency estimation more accurate, however 1000ms seems to be the optimum period to strike a balance between accuracy and speed.

####Smoothing Buffer Size

Similar to the previous section, changing the size of the smoothing buffer also affects the reponse time and the reliability of the warnings. One distinct observation that can be made by increasing the buffer size is its obvious effect on delaying the warning response time. So at considerably large buffer sizes, the baseboard had to be shaken for a longer period of time to trigger the alert state. This is an expected phenomenon, since the buffer size directly affects the accumulation count. For example, if the size is set to 5 and all the readings inside the buffer are zero except for the fifth one, then the calculated average is likely to be below the noise cancelling threshold. And thus, a valid direction change will be ignored by the algorithm, resulting in a slower accumulation count. Hence leading to a slower response time.

####Safety Bounds

The 'unsafe' bounds specified in the project manual seem to be quite effective in demonstrating the flutter frequency warning system.

```c
#define FREQ_UNSAFE_LOWER	2
#define FREQ_UNSAFE_UPPER    10
```
From first hand experience, it's very easy to breach `FREQ_UNSAFE_LOWER`. Shaking the baseboard at a reasonable pace will set off the warning indicators. However, reaching `FREQ_UNSAFE_UPPER` seems to be a considerable physical challenge. After constantly manipulating `FREQ_UNSAFE_LOWER`, the highest physical frequency we could attain was between 3-5Hz, even with a small smoothing buffer size of 2. Besides the obvious physical limitation of our feeble arms, there is also a fundamental constraint imposed by the sensor itself. The update interval between each accelerometer reading depends on the speed of the round-robin loop (which is affected by other sensors and data processing) and also on the sensor itself. So it's very likely that the system will constantly miss crucial direction changes at high frequecies, as it won't be ready to handle the new data. So it would be reasonable to conclude that this system is more reliable for judging if the flutter frequency is above the lower bound rather than checking if it's above the upper bound.


####Noise Cancelling Threshold

The size of `VIBRATION_MAX_DIFF` directly correlates to the amount of perceived noise, which is ignored by the algorithm. If set as small values like 1 or 2, the sensentivity of the system becomes so substantial that gentle prodding (at a considerable frequency) sets off the warning. However, occasionally the device does produce some 'phantom warnings' even if the board is placed in a stationary, upright position. So the threshold must be carefully adjusted to meet the specific requirements of the application. Setting it to a high value won't be a safe option either. Because we have to consider the fact that the z-axis offset is a numerical manipulation; not a hardware adjustment. So half of the $$$2g$$$ range has already been used. Setting the threshold beyond $$$1g$$$ will result in an unresponsive system. Based on trial & error, the optimum value for `VIBRATION_MAX_DIFF` (for the conditions specified in the manual) was found to be 5.




## Configuration via FFSData Struct:

An exclusive data structure `Vector_Data_t` was created to store all the readings essential for the core functionality of the system. This allowed us to keep the data more organized and paved the way for a more systematic approach towards polling the sensor readings – `update_sensorData()`. 

| Name | Data Type | Use State |
| -- | -- |
| btn_calibrate | `_Bool` | Calibration |
| zAccel | `int8_t` | Calibration & Active |
| zOff | `int32_t` | Calibration & Active |
| standbyCounter | `int32_t` | Standby |
| previousMs | `uint32_t` | Standby |
| delayMs | `uint32_t` | Standby
| light | `uint32_t` | Standby & Active |
| temperature | `float` | Standby & Active |
| isHot | `_Bool` | Standby & Active |
| isRisky | `_Bool` | Standby & Active |
| vibrationFreq | `int32_t` | Active |
| warningOn | `_Bool` | Active |
| msTicks | `uint32_t` | All States |

```c
/*
 * FFS_Config.h
 *
 *  Created on: Mar 27, 2014
 *      Author: joel
 */

#ifndef FFS_CONFIG_H_
#define FFS_CONFIG_H_

/** For temperature maximum **/
#define TEMP_MAX 38.0 //26.0

/** Offset for accelerometer */
#define GZERO_OFFSET 75.0

/** For light sensor **/
#define LIGHT_UPPER_BOUND 							800
#define LIGHT_LOWER_BOUND 							0

/** For vibration frequency bounds **/
#define FREQ_UNSAFE_LOWER 							2
#define FREQ_UNSAFE_UPPER 							6

/** For vibration calculations **/
#define 		VIBRATION_BUFFER_SIZE 				5				// size of smoothing buffer.
#define 		VIBRATION_MAX_DIFF 					5				// Max threshold dy/dx for a point

/** WARNING ----------------------------------------------------> **/
#define 		BLINK_INTERVAL 						226				// 0 - 255

/** Buzzer **/
#define 		BUZZER_FREQ							2551


#define NOTE_PIN_HIGH() GPIO_SetValue(0, 1<<26)
#define NOTE_PIN_LOW()  GPIO_ClearValue(0, 1<<26)


/** UART Stuff **/
#define 			UART_BUFF_SIZE 					256

/** Wireless protocol stuff **/
#define 			PROTOCOL_REPORT_TIME_NORMAL 	1000
#define 			PROTOCOL_REPORT_TIME_WARNING 	1000 / 8

#endif /* FFS_CONFIG_H_ */
```



## Interrupts

As far as possible, interrupts were used to retrieve data.  Two types of interrupts were deployed:

- Timer interrupts
- Sensor interrupts

While interrupts were mainly used for data retrieval purposes, they were used in our implementation of FFS, to emulate PWM on peripheral pins which were not connected via PWM.  This was achieved by bit-banging a GPIO pin.

As interrupts are potentially disruptive to the system (program sequence is interrupted and may not be as expected upon resuming the program), care was taken to ensure integrity of conditionals and data variables upon resuming the program.  Fortunately, this was not a major issue, save for the light sensor interrupt.

Our implementation of interrupts in the FFS was designed to be quick, to avoid possible disruption to the scheduling of the rest of the program.  Hence, they were as far as possible, only used to modify data variables, which were then handled upon resuming the program context, when the system was ready to handle the modified data.  Functions were also minimally used, as they tend to be comparatively longer (operations to store and retrieve the context to and from the stack have to be executed).  They were only used as a last resort to enhance code readability.


### Systick interrupt

SysTick interrupts are a method of keeping track of time in the FFS.  In our implementation, we stepped down the interrupt to trigger every 1ms.  While it is certainly possible to trigger the interrupts every 1 us, doing so would flood the FFS with unnecessary interrupts, wasting processing time and battery power.

The Systick handler is initialized and called from `FFSClock.c`, using the initializer function `init_sysTick()`.  Functions are defined in `FFSClock.h`.  While the delay timers in the header file are handy, they were used as minimally as possible as they were **blocking** calls, and would impact the responsiveness of the entire program:

**FFSClock.h**

```c
void SysTick_Handler(void);
void SysTick_delay(uint32_t delayTicks);
uint32_t SysTick_getMsElapsed(); 				// wrapper

// to call!
void init_sysTick();
```


### GPIO interrupts

GPIO interrupts are triggered using the `EINT3` interrupt handler.  They are used throughout our implementation of FFS, and involve first configuring the system utility function `NVIC_EnableIRQ()`.  Upon interrupt triggering, the `GPIOINT` register is checked for the corresponding interrupt status rising or falling flags.  These flags are then cleared, before the sensor's internal interrupt flag is cleared (by I2C means or otherwise).  Such an order is needed, to prevent deadlock from happening.

```c
void EINT3_IRQHandler() {
	if (LPC_GPIOINT->IO2IntStatF >> 5 & 1) {
		LPC_GPIOINT->IO2IntClr |= (1 << 5);
        light_clearIrqStatus();
	}

	// goto state
	FFSData.isRisky = 1;
}
```

An issue to note that is as all GPIO interrupts are triggered using the `EINT3` handler, all interrupts need to be carefully tracked and noted to prevent deadlock caused by a misplaced interrupt.


### Light Sensor Interrupt

The light sensor can be configured to trigger line interrupts.  As the interrupt lines are connected to GPIO 2.5, which supports GPIO interrupts via `EINT3`, interrupts can be configured.

Upon asserting the interrupt, the interrupt goes `PENDING` and waits until the processor is ready.  It then enters `ACTIVE` mode.  The correct pin is filtered, and if asserted, both the light sensor and NVIC interrupts are  deasserted, in that order.  The FFSData struct is then updated with the new data.

Implementation of the interrupt handler is given in the header file `SensorLight.c`:

```c
void EINT3_IRQHandler() {
	if (LPC_GPIOINT->IO2IntStatF >> 5 & 1) {
		LPC_GPIOINT->IO2IntClr |= (1 << 5);
        light_clearIrqStatus();
	}

	FFSData.isRisky = 1;
}
```

A notable problem is that when asserted, there is no interrupt to assert that the light sensor reports normal readings, if previously asserted.  Hence we implement the below.

This new data is handled when the system is ready (enters the respective state's stick function).  One problem that might result is the pre-emption of code, particularly when clearing the value of the `FFSData.isRisky` flag, resulting in deadlock.  Instead of implementing mutexes, this is overcome by checking the flag against the value of the light sensor.  The flag was cleared should both tally.

Our implementation was found to be sufficient.  The code for this checking for memory integrity is given in the function `clearLightFlag()`, defined in `states.c` and called at the end of every tick:

```c
static void clearLightFlag() {
	if (FFSData.isRisky) {
		uint32_t lightVal = FFSData.light;
		if ((LIGHT_LOWER_BOUND < lightVal) && (lightVal < LIGHT_UPPER_BOUND)) {
			FFSData.isRisky = 0;
			SysTick_delay(1);
		}
	}
}
```

### PWM emulation using External Timer interrupt

To emulate pulse-width modulation (PWM) signals, external timer inteerupts were used.  This was used to generate PWM signals for the buzzer via bit-banging.  As the buzzer was connected to GPIO 0.26 and did not have a suitable PINSEL function for PWM, this avoided the need for a blocking delay using `sysTick`, which would have slowed down the system considerably.

The External Timer interrupt was set-up using the code below, in `functions.c`:

```c
void buzzer_onWarning() {
	TIM_TIMERCFG_Type TIM_ConfigStruct;
	TIM_MATCHCFG_Type TIM_MatchConfigStruct;

	// Initialize timer 0, prescale count time of 1ms
	TIM_ConfigStruct.PrescaleOption = TIM_PRESCALE_USVAL;
	TIM_ConfigStruct.PrescaleValue = 1;
	TIM_MatchConfigStruct.MatchChannel = 0;
	TIM_MatchConfigStruct.IntOnMatch = TRUE;
	TIM_MatchConfigStruct.ResetOnMatch = TRUE;
	TIM_MatchConfigStruct.StopOnMatch = FALSE;
	TIM_MatchConfigStruct.ExtMatchOutputType = TIM_EXTMATCH_NOTHING;
	// Set Match value, count value is time (timer * 1000uS =timer mS )
	TIM_MatchConfigStruct.MatchValue = BUZZER_FREQ / 2;

	TIM_Init(LPC_TIM1, TIM_TIMER_MODE, &TIM_ConfigStruct);
	TIM_ConfigMatch(LPC_TIM1, &TIM_MatchConfigStruct);

	// To start timer 0
	TIM_Cmd(LPC_TIM1, ENABLE);
	NVIC_EnableIRQ(TIMER1_IRQn);

}
```

Turning on the buzzer enables the `TIMER1` interrupt.  Actual GPIO bit-baanging was done in the interrupt routine itself:

```c
void TIMER1_IRQHandler() {
	/** Buzzer stuff **/
	static _Bool toggle = 0;
	toggle ? NOTE_PIN_HIGH() : NOTE_PIN_LOW();
	toggle = !toggle;

	/** Clear interrupt **/
	TIM_ClearIntPending(LPC_TIM1, 0);

}
```

Similarily, the buzzer is switched off by disabling the timer:

```c
void buzzer_offWarning() {
	NOTE_PIN_LOW();
	TIM_Cmd(LPC_TIM1, DISABLE);
	TIM_ClearIntPending(LPC_TIM1, 0);
}
```

`TIMER1` was used as `TIMER0` appeared to be used internally by some of the peripherals.


### UART Interrupt

This is covered in the **wireless protocol** section.

## Overview

### The State Manager

We have simplified the design of FFS into states.  As these transitions are often cumbersome to represent in code, we have included a state manager design pattern to handle these transitions.

The State Manager has knowledge of all possible states.  Based on commands sent by the program, the State Manager navigates between states, ensuring that memory is properly allocated and cleared prior to the next state entry.


#### What is a state?

A `state` is similar to creating a unit test.  That is, each `state` comprises three function handlers: one function to set-up the necessayr variables prior to state entry, another function that is run during state execution on every tick, and another function that clears the state (e.g. freeing memory).  These functions are defined and passed during state creation as function pointers.

Each attached function handler has the following signature:

	void func_handler() {
		/** Do stuff here **/
		return;
	} 

The following functions are used to create a State instance.  They are defined in `State.h`:

	State_t * State_new( void (* on_tick)(), void (* on_enter)(), void (* on_exit)()  );
	void State_delete(State_t * state);


#### Usage of the State Manager

The State Manager instance is first created.  Then, states are added to it.  The State Manager is then "kicked" to initialize the first state, and run.  The following flowchart shows usage of the State Manager:

![insert flowchart here showing usage](images/ee2024-state-mgr-class.png)

For the state manager to run on each tick, an "onTick" function is exposed in the StateManager API.  This is enclosed by an indefinite loop.

The following code snippet illustrates deployment of the state manager:


	/** Example of running State Manager **/

	StateManager_t * sm = StateManager_new();

	State_t * state0 = State_new(setup0, tick0, teardown0);
	State_t * state1 = State_new(setup1, tick1, teardown1);

	StateManager_addState(sm, state0);
	StateManager_addState(sm, state1);

	StateManager_kick(sm);

	while(1) {
		StateManager_tick(sm);
	}

	/** Never reaches here **/
	StateManager_delete(sm);
	State_delete(state0);
	State_delete(state1);


#### Navigating between states

To transit to a new state, use `StateManager_goto()`.  The function has the following signature:

	void StateManager_goto(StateManager_t * sm, uint32_t ref);

A sequence diagram illustrates one such transition, in full detail:

![insert transition here](images/ee2024-state-transitions.png)


#### State Manager API

The following publicly-accessible functions are included:

	/** Public-accessible functions in StateManager.h **/
	StateManager_t * StateManager_new();
	void StateManager_delete(StateManager_t * sm);

	void StateManager_addState(StateManager_t * sm, State_t * state);
	void StateManager_kick(StateManager_t * sm);
	void StateManager_tick(StateManager_t * sm);
	void StateManager_goto(StateManager_t * sm, uint32_t ref);


















### Physical States

Our implementation of the FFS deploys the threee states `CALIBRATION`, `STANDBY`, and `ACTIVE` modes via the StateManager class.  These states are defined in the header file `states.c`.  Auxiliary functions supporting these states are defined in `functions.h`.  These were not defined separately, to enhance speedy code comprehension by a new user.

As the StateManager defines states as integers, the following mappings were used:

| State        | number |
|--|--|
| `CALIBRATION`       | 0 |
| `STANDBY`           | 1 |
| `ACTIVE`            | 2 |

The FFS system was designed to be a responsive embedded system (without and operating system), from the ground-up.  Hence data, feedback and control were designed utilizing the following diagram:

![diagram of sensor-uP-actuator](images/ee2024-transition-diagram.png)

This was impemented with the following design in the FFS:

![insert diagram of flow control here](images/ee2024-transition-diagram-ffs.png)

Hence, on every active state's tick, data which must be polled was performed via the function `update_sensorData()` in `states.c`.  When called, the function updates the `FFSData` struct defined in `Vector_Data.h`.  Whenever possible, interrupts were instead used to access sensor data, to ensure that data was captured and not missed.

`update_sensorData()` is intelligent to detect the current state it is in, and decides when to poll the sensors (instead of blind polling).  This is done by reading the current state the FFS system is in.

The function is given by the code below:

```c
/** Updates sensor data via polling.  This is called on every tick **/
static void update_sensorData() {

	FFSData.btn_calibrate = ButtonList_getButtonState(1, 31);

	if (sm->refNow == 0 || sm->refNow == 2) { // Read accelerometer only if in CALIBRATE OR ACTIVE
		readStoreAccel(&FFSData);
		vibrations_updateFrequency(&FFSData);
	}

	if (sm->refNow == 1 || sm->refNow == 2) { // Read temp and light only if in STANDBY OR ACTIVE
		temperature_update(&FFSData);
		light_update(&FFSData);
	}

}
```

An example of states is given by the `STANDBY` state, defined as `state 1` in the state manager:

```c
/***** State STANDBY *****/

/** Called on every tick **/
void tickHandler1() {
	update_sensorData();

	// reset back to 5 if hot
	if (FFSData.isHot)
		FFSData.standbyCounter = 5;

	if (FFSData.standbyCounter == 0 && !FFSData.isRisky && !FFSData.isHot) {
		StateManager_goto(sm, 2);
		return;
	}

	// Decrement counter for the first 5 sec:
	static uint32_t prevMs = 0;

	if ((SysTick_getMsElapsed() - prevMs) > 1000) {
		prevMs = SysTick_getMsElapsed();
		standby_countDown(&FFSData);
	}

	displayTempLux(&FFSData);
	clearFlags();
}

/** setup handler **/
void enterHandler1() {
	FFSData.standbyCounter = 5;
	standby_init();
	warning_off();
}

/** teardown handler **/
void endHandler1() {

}

/** ... **/
state_1 = State_new(tickHandler1, enterHandler1, endHandler1);
/** ... **/
```

The state diagram and relationship between the physical and wireless states is given below:

![State diagram here](images/stateDiagrams.png)

## Wireless protocol handling

In line with good design practice, wireless protocol handling is abstracted as a series of states at the top level.  For the FFS, we have designed these two states as: (1) The Authentication state, (2) The Active State.  Upon completing the Authentication State, the manager transits to the Active State, and remains there.

The implementation of low-level communication is separated from the high-level implementation of the protocol.  In the FFS, low-level communication via the XBee UART is handled by a `Terminal` class singleton, while the high-level protocol is handled by a `StateManager` instance.  These two objects are loosely coupled to each other, in line with good design. 


### Terminal singleton

The Terminal singleton can be thought of as a manager that handles the transmitting, receiving and parsing of messages via the UART.  In the design of the FFS, the Terminal has memory of the last received message (if not retrieved) and the last transmitted message.

The following functions are exposed for controlling the Terminal singleton:

```c
/** Creation functions **/
Terminal_t * Terminal_new();
void Terminal_delete(Terminal_t * self);

/** Must be attached to interrupt handler **/
void Terminal_harvest(Terminal_t * self, uint8_t * buffer, uint32_t length);

/** Other functions to play around with **/
_Bool Terminal_hasMessage(Terminal_t * self);
void Terminal_send(Terminal_t * self, const char * payload);
uint32_t Terminal_getTimeElapsed(Terminal_t * self);
Message_t * Terminal_retrieve(Terminal_t * self);
void Terminal_resetTime(Terminal_t * self);
```

The class diagram is given by the below:

![Wireless Class diagram here](images/ee2024-wirelessClassDiagrams.png)

#### Messages

Messages are the foundation of all UART transmissions.  A message is defined in the struct below:


```c
typedef enum {
    RECIPIENT_FFS,
    RECIPIENT_BASE
} Author_t;

typedef struct {
    Author_t to;
    Author_t from;
    uint8_t length;
    char ** tokens;
} Message_t;
```

The following functions enable the creation and deletion of messages.  As messages are made up of string arrays (each being a byte), strings are memory-heavy and must be properly handled to eliminate major memory leaks:

```c
/** Public functions for Message class **/
Message_t * Message_new(Author_t to, Author_t from, const char * payload);
void Message_delete(Message_t * self);
char * Message_get(Message_t * self, _Bool addNewline);
```


Typically, these do not need to be called manually as they are hidden by the Terminal class.


#### Receiving messages via the Terminal singleton

Receiving messages via the Terminal class are designed in the FFS to be implementation-agnostic.  That is, messages can be either done via polling or interrupts.  In our implementation however, interrupts with data read in chunks are used, to prevent loss of information.  This is achieved by the function `UART_receive()` defined in `lpc_17xx_uart.h`, and the interrupt handler `UART3_IRQHandler()`.


##### Receiving UART data via interrupt triggering

UART interrupts are first enabled through a routine `PINSEL` configuration and a UART configuration vector.  `UART3` is used:

```c
static void pinsel_uart3(void) {
	PINSEL_CFG_Type PinCfg;
	PinCfg.Funcnum = 2;
	PinCfg.Pinnum = 0;
	PinCfg.Portnum = 0;
	PINSEL_ConfigPin(&PinCfg);
	PinCfg.Pinnum = 1;
	PINSEL_ConfigPin(&PinCfg);
}

void init_uart(void) {
	UART_CFG_Type uartCfg;
	uartCfg.Baud_rate = 115200;
	uartCfg.Databits = UART_DATABIT_8;
	uartCfg.Parity = UART_PARITY_NONE;
	uartCfg.Stopbits = UART_STOPBIT_1;
	pinsel_uart3();
	/**..............**/
	/**..............**/
}
```

To ensure that messages are not jumbled up, a first-in-first-out (FIFO) queue is used.  This is enabled by the following lines:

```c
// use fifo structure
UART_FIFO_CFG_Type fifoCfg;
UART_FIFOConfigStructInit(&fifoCfg);
UART_FIFOConfig(LPC_UART3, &fifoCfg);
```

Unlike most peripherals, UART is not handled in the standard NVIC interrupt handler.  Instead, a UART interrupt handler is exposed by the API.  This handler has to be called in the function `UART3_IRQHandler()`.

For the UART callback function to utilize a custom callback function defined by the user, the function handler has to be attached to the UART instance by:

	UART_SetupCbs(LPC_UART3, 0, uart_rcv_callback);

The IRQ is then enabled:

```c
NVIC_EnableIRQ(UART3_IRQn);

The code is hence:

void UART3_IRQHandler() {
	UART3_StdIntHandler();
}

// workaround to create a passable instance to interrupt callback
static Terminal_t * termSingleton;
static char buffer[UART_BUFF_SIZE];

static void uart_rcv_callback() {
	memset(buffer, 0, UART_BUFF_SIZE); 				// clear buffer first
    uint32_t len = UART_Receive(LPC_UART3, (uint8_t *) buffer, (uint32_t) UART_BUFF_SIZE, NONE_BLOCKING);
    Terminal_harvest(termSingleton, (uint8_t *) buffer, len);
}

static void pinsel_uart3(void) {
	PINSEL_CFG_Type PinCfg;
	PinCfg.Funcnum = 2;
	PinCfg.Pinnum = 0;
	PinCfg.Portnum = 0;
	PINSEL_ConfigPin(&PinCfg);
	PinCfg.Pinnum = 1;
	PINSEL_ConfigPin(&PinCfg);
}

void init_uart(void) {
	UART_CFG_Type uartCfg;
	uartCfg.Baud_rate = 115200;
	uartCfg.Databits = UART_DATABIT_8;
	uartCfg.Parity = UART_PARITY_NONE;
	uartCfg.Stopbits = UART_STOPBIT_1;
	//pin select for uart3;
	pinsel_uart3();
	UART_Init(LPC_UART3, &uartCfg);
	UART_SetupCbs(LPC_UART3, 0, uart_rcv_callback);
	UART_TxCmd(LPC_UART3, ENABLE);
	UART_IntConfig(LPC_UART3, UART_INTCFG_RBR, ENABLE);

	// use fifo structure
	UART_FIFO_CFG_Type fifoCfg;
	UART_FIFOConfigStructInit(&fifoCfg);
	UART_FIFOConfig(LPC_UART3, &fifoCfg);

	NVIC_EnableIRQ(UART3_IRQn);
}
```


#### Harvesting data

To collect data on each interrupt, we have defined a function handler `Terminal_harvest()`.  This function is embedded and called within the function handler `uart_rcv_callback()` (The function handler which is attached to the UART).


#### Sequence diagram

The following sequence diagram illustrates the calling of these functions, on an interrupt.

![Insert SD here](images/ee2024-uart-interrupt-sd.png)


#### Retrieving messages

To retrieve messages, the data handler `Terminal_harvest()` must first be attached to the interrupt handler. 

![insert mailbox picture here](http://www.tpedesign.net/wp-content/uploads/2012/09/mailbox.jpg)

Source: http://www.tpedesign.net/wp-content/uploads/2012/09/mailbox.jpg

The latest message instance is stored in the Terminal and accessible via `Terminal_retrieve()`.  It operates similar to a mailbox; Once read, the message pointer is freed.  Hence it is important to store the pointer returned by `Terminal_retrieve()`.  Both the functions `Terminal_hasMessage()` and `Terminal_retrieve()` are non-blocking.

An example usage for message retrieval is given by the code below:

```c
extern Terminal_t * term; 	// pointer to Terminal instance

if (Terminal_hasMessage(term)) {
	Message_t * msg = Terminal_retrieve(term);
	/** Do something with message here **/
	/** .............................. **/
}
/** Non-blocking                     **/
/** Continues if no message is found **/
```

#### Sending messages

Sending messages are exposed by the function `Terminal_send()`.  It is called as follow:

```c
extern Terminal_t * term; // pointer to Terminal instance
Terminal_send(term, "some message string") // auto-appends \r\n or \n
```

#### Checking for time of last message

Timeouts and time intervals are important for messages.  Hence we expose the methods `Terminal_resetTime()` and `Terminal_getTimeElapsed()`, which resets the time of the last message and returns the time elapsed since the tranmission or sending of the last message, respectively.  `Terminal_resetTime()` is automatically called when either `Terminal_send()` or a new message (triggered by interrupt) is received.


### The Wireless State Manager: Implementing the wireless protocol

In line with good protocol design, the protocol is modeled after a series of two states: `AUTH` and `ACTIVE`.  In the `AUTH` state, handshaking is attemped and performed.  The state manager than proceeds to the `ACTIVE` state, which implements the rest of the protocol.

The following state diagram illustrates these transitions:

![](images/stateDiagrams.png)

The states are deployed with our earlier implementation of the `StateManager` class.  As the function `StateManager_tick()` exposes a micro-timeslice of code execution, seemingly parallal task execution is achieved with the indefinite loop handler in `main.c`:

```c
/** Run the managers in indefinite loop **/

/** wm - wireless manager **/
/** sm - state manager    **/
extern StateManager_t * wm;
extern StateManager_t * sm;

while (1) {
	StateManager_tick(wm);
	StateManager_tick(sm);
}
```

The wireless states are hence "independent" and decoupled from the physical states.


Wireless states are defined in the header file `statesWireless.h`.  These files utilize the physical abstraction `Terminal` class, and in doing so, keep low-level implementation away from the protocol layer.

The simplicity of this design is beautifully illustrated by code in the `AUTH` tick handler:

```c
extern StateManager_t * wm;

void wState_authenticateTick() {
    //timeout 
    if(Terminal_getTimeElapsed(tm) > 5000 && !Terminal_hasMessage(tm)) {
        Terminal_resetTime(tm);
        Terminal_send(tm, "RDY 013");
    }

    // return if no message
    if (!Terminal_hasMessage(tm)) return;

    // else continue
    lastMsg = Terminal_retrieve(tm);
    char ** tokens = lastMsg->tokens;
    
    if (strcmp(tokens[0], "RNACK") == 0) {
    	puts("not acknowledged.");
        Terminal_send(tm, "RDY 013");
    }

    else if (strcmp(tokens[0], "RACK") == 0) {
    	puts("acknowledged!!!");
        Terminal_send(tm, "HSHK 013");
        StateManager_goto(wm, 1);		// goto ACTIVE state
    }

    Message_delete(lastMsg);
}
```

#### Sending ping data

Data is sent at ping intervals, when the sufficient timeout $$$t = \frac {1000} 8$$$ or $$$t = 1000$$$ ms happens.

Frequency data is accessed from the `FFSData` struct, defined in the file `Vector_Data.h`.

Ping data is sent by the utility function `pingIfNeeded()`:

```c
static void pingIfNeeded() {
	uint32_t interval;
	interval = FFSData.warningOn ? PROTOCOL_REPORT_TIME_WARNING : PROTOCOL_REPORT_TIME_NORMAL;

	static uint32_t lastPingTime = 0;
	if ((SysTick_getMsElapsed() - lastPingTime) < interval)
		return;
	lastPingTime = SysTick_getMsElapsed();

	char * reportStr = makeReportString();
	Terminal_send(tm, reportStr);
	free(reportStr);
}
```

#### Navigating between `CALIBRATE` and `STANDBY` physical states

In line with structured OOP design, This is made possible by calling the function `StateManager_goto()` on the physical state manager, which transits states on the next tick (proper deallocation of memory).  An example of this is given by the `ACTIVE` state tick handler:

```c
void wState_activeTick() {
	pingIfNeeded(); 				// send data over

	if (!Terminal_hasMessage(tm)) return;

    // else continue
    lastMsg = Terminal_retrieve(tm);
    char ** tokens = lastMsg->tokens;

    if (strcmp(tokens[0], "RSTC") == 0) {
        Terminal_send(tm, "CACK");
    	// Goto calibrate mode
        StateManager_goto(sm, 1);

    }

    if (strcmp(tokens[0], "RSTS") == 0) {
        Terminal_send(tm, "SACK");
    	// Goto reset mode
        StateManager_goto(sm, 0);
    }

    Message_delete(lastMsg);
}
```

### Integrated Testing of the Wireless protocol

Automated integrated testing of the wireless protocol was implemented through a NodeJS Javascript program, written in Coffeescript shorthand.  This script enabled us to model a test "base-station", and saved us development time.

To test for memory leaks in the system, particularly with the Terminal class as it handles string pointers in memory, this script was run concurrently with the system over a long period of time, with repeated transmissions.  All memory leaks were patched.  As of the stable release, the wireless protocol manager did not appear to have any memory leaks with the UART manager.

The script is located in a separate repository, labelled `ee2024-ffs-uart-base`.  To execute the script, first install `NodeJS` and `coffee`.  Then install dpeendencies and run it via:

```bash
$ cd ee2024-ffs-uart-base
$ npm install
$ cd src && coffee ./main.coffee
```

The Coffeescript is given below:

**main.coffee**

```coffeescript
serialport = require('serialport')
SerialPort = serialport.SerialPort 

sp = new SerialPort '/dev/ttyUSB0', {
    baudrate : 115200,
    parser: serialport.parsers.readline("\n")
}

ackCtr = 0
auth = false;

procAuth = (tokens) ->

    return if not tokens

    if tokens[0] is 'RDY' and ackCtr isnt 3
        sp.write 'RNACK\r'
        ackCtr++

    else if tokens[0] is 'RDY' and ackCtr is 3
        sp.write 'RACK\r'

    else if tokens[0] is 'HSHK' 
        console.log 'reached hshk'
        auth = true

## main body

sp.open ->
    console.log 'open'
    sp.write 'test string\r\n', (err, results) ->
        console.log 'done'

    sp.on 'data', (data) ->
        console.log "Data: #{data}"
        tokens = data.split(' ').slice(0, -1)
        console.log tokens                      # dump

        return procAuth(tokens) if not auth

counter2 = false

doActiveStuff = ->
    console.log 'ping!'
    counter2 = !counter2
    
    if counter2 then sp.write 'RSTS\r'
    else sp.write 'RSTC\r'

setInterval ->
    doActiveStuff() if auth
    console.log 'ping'
, 3000

console.log 'done'
```

Further development on the system should run this tests to check for correct functioning of the system.


## Extensions

### State Manager

Effective, encapsulated design patterns, good programming practice, and real-time embedded operating systems principles, were used to design the system from the ground-up.  We used a state manager to ensure that memory and transitions between states were effectively handled and deployed.

### XBee Wireless

Design patterns were used to encapsulate the Xbee wireless module unit, instead of raw, exposed strings that may be prone to memory-leaks.

### Automated integration testing with external scripts

Automated integration testing for the Xbee (emulating a base station) was developed using NodeJS in Coffeescript, and executed.  This enables systems to be tested faster and more effectively.

### Usage of interrupts

External timer interrupts on `TIMER1` were used to generate a PWM signal for the buzzer (bit-banging) as lines were not available, and to prevent hanging of the overall system.

The `EINT0` external interrupt was also used to handle the RESET capability of the system via a pushbutton interrupt.

In addition to interrupt handling, care was also taken to preserve data integrity across pre-emptions.  Checks (similar to a real-time operating system) were performed before entering the critical section.



## Links

Report viewable at http://joeltong.org/ee2024-ffs and accessible at https://bitbucket.org/jhtong/ee2024-ffs-report 

Code repository accessible at https://bitbucket.org/jhtong/ee2024

NodeJS system / integration tests for wireless protocol accessible at https://bitbucket.org/jhtong/ee2024-ffs-uart-client


## Statement of Contribution

Student 1: A0108165J
Student 2: A0105912N

**A. Joint Work in algorithm development, programming and report writing (briefly list a few specific aspects):**

Development: Active state, State manager implementation, Debugging, Algorithm tests

**B. Student 1’s Work in algorithm development, programming and report writing (briefly list a few specific aspects):**

Development: Active state, Interrupts, Wireless UART, State manager, Algorithm design, Architecture

Report: Frequency Algorithm, Interrupts, State manager, Wireless protocol, Extensions

**C. Student 2’s Work in algorithm development, programming and report writing (briefly list a few specific aspects):**

Calibration state, Standby state, Algorithm Experiments & Limitations, Data integrity

Report: Calibration, Standby, Active, Experiments & Limitations

We both agree that the statements above are truthful and accurate.

Signatures and Names:


---------------------------------------------

**TONG Haowen Joel (A0108165J)**

---------------------------------------------

**Mohit Shridhar (A0105912N)**


</div>
